@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Declarando variaveis */
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}


 * {  /* Reseta o CSS */ 
    margin: 0;
    padding: 0;
}

body {
    /* Foi utilizado até começar a mexer no footer
    height: 100vh; Define a altura e largura da tela - remete ao viewport */
        
    box-sizing: border-box;  /* Permite que a tag filho permaneça sempre dentro da tag pai ou seja
                                ficará sempre dentro do body */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* HEADER E NAV */
.cabecalho {
    /* Espaçamento entre as tags a(anoras) */
    padding: 2% 0% 0% 15%; 
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    /* font-size: 24px; */
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
} 

img {
    height: 400px;
    width: 500px;
}

/* MAIN */
.apresentacao {
    /* Tirou pra colocar o padding para tirar o vacuo do scroll
    margin: 6% 6%;Aqui a margin foi para todos os lados, ou seja, no conteúdo inteiro fica para dentro s */
    
    padding: 5% 10%; /* Pra da tudo em uma única tela o header e o footer, aqui tb controlo a distância
                        entre o texto e o nav */
    display: flex; /* Coloca todo mundo em linha referente ao pai */ 
    align-items: center;  /* Alinha todos os elementos conforme a imagem */ 
    justify-content: space-between;
    gap: 82px; /* Foi add por conta da responsividade, para deixar a separação do texto da imagem */
}

.apresentacao__conteudo {
    /* width: 615px;  Foi colocado em pixels para ter responsividade */
    width: 50%;
    display: flex;
    flex-direction: column; /* Para deixar em coluna */
    gap: 40px; /* Deu um espaçamento entre: 1º texto, 2º texto e os buttons */

}

.apresentacao__conteudo__titulo {
    /* font-size: 18px; */
    font-size: 1.25rem;  /* 1 rem é = 16, O calculo é número de pixl dividido por 16 */
    font-family: var(--font-primaria);

}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    /* font-size: 14px; */
    font-size: 0.87rem;
    font-family: var(--font-secundaria);
}

/* Aqui a apresentacao__links é pai por estar em uma div 
   sempre que for usar a tag pai coloca display: flex; */
.apresentacao__links {
    display: flex; /* Automaticamente já fica na horizontal */
    flex-direction: column; /* Deixa ele na horizontal */
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

/* BUTTONS */
.apresentacao__links__navegacao {
    /* Foi adcionado quando colocamos os icones */
    display: flex;
    justify-content: center;
    gap: 12px;

    /* background-color: #22d4fd; */
    border: 2px solid var(--cor-terciaria);
    /* width: 250px; */
    width: 50%;  /* Foi colocado para porcentagem por conta da responsividade */
    text-align: center; 
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;  /* É o peso da fonte */
    padding: 21.5px; /* É a distancia entre a borda e o conteúdo */ 
    text-decoration: none;
    /* color: #000000; */
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__navegacao img{
    width: 30px;
    height: 30px;
}

/* Efeito nos buttons */
.apresentacao__links__navegacao:hover {
    background-color: #272727;
}

/* Criada por conta da responsividade */
.apresentacao__imagem {
    /* Metade da tag pai */
    width: 50%;
}

/* FOOTER */
.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
} 


/* Quando diminue para 1200px ela quebra pra telas menores */
@media (max-width: 1200px) {
    /* Quebra os nomes do cabecalho: Home e Sobre mim */
    .cabecalho {
        padding: 10%;
    }  
    
    /* Centraliza os nomes: Home e Sobre mim */
    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;  /* Faz com que a imagem saia de baixo e vá para parte de cima */
        
        /* Para telas menores */
        padding: 5%;
    
    }

    /* Para telas menores */
    .apresentacao__conteudo {
        width: auto;
    }

    /* Definição para largura na versão mobile:
    A forma é utilizar uma largura percentual, como width: 100%;. Isso faz com que o elemento ocupe toda a largura 
    disponível do dispositivo, garantindo uma boa responsividade.
    @media (max-width: 1200px) {
    .apresentacao__conteudo{
        width: 100%;
    }} */

}